<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <!-- Get Flask messages -->
    {% include "macros/flask_messages.html" ignore missing with context %}

    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>

    <form method="post" action="register">
        <h3>Create an Account</h3>

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <label for="confirmpassword">Confirm Password:</label>
        <input type="password" id="confirmpassword" name="confirmpassword" required>
        <input type="submit" id="registerbutton" value="Create Account">
        
        <div class="loginarea">
            <span>Already have an account? <a href="/login">Sign In</a></span>
        </div>
    </form>

</body>
</html>
