<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<header>
    <nav>
        <div class="logo">
            <img src="static/meangreens.png" id=logo alt="Mean Greens" />
        </div>
        <ul class="navbar">
            <!--<img src="meangreens.png" id=logo alt="Mean Greens" />-->
            <li><a href="/search">Search</a></li>
            <li><a href="/filters">Filters</a></li>
            <li><a href="/results">Results</a></li>
            <li><a href="/doc">Documentation</a></li>
        </ul>
    </nav>
</header>
<h1>Search</h1>
<div class="container-a">
    <div class="search-container">
        <body>
            <form action="/search" method="POST">
                <input type="text" id="search_term" name="search_term" placeholder="Enter search query">
                <button type="submit">Search</button>
            </form>
        </body>
    </div>
</div>
</html>